# Configurando conexão com o banco de dados SQLServer com pyodbc

## Instalando o pyodbc

Execute o comando abaixo para instalar o pyodbc:

```bash
pip install pyodbc
```
ou

```bash
pip3 install pyodbc
```

- pip é o gerenciador de pacotes do Python 2.
- pip3 é o gerenciador de pacotes do Python 3.

In [1]:
# Importar o pacote pyodbc

import pyodbc

In [2]:
# Crie variáveis para suas credenciais de conexão.

SERVER = 'RAFAEL'
DATABASE = 'Protheus'
USERNAME = 'sa'
PASSWORD = 'sa'

In [3]:
# Crie uma variável de cadeia de conexão usando interpolação de cadeia de caracteres.

connectionString = f'DRIVER={{ODBC Driver 18 for SQL Server}};SERVER={SERVER};DATABASE={DATABASE};UID={USERNAME};PWD={PASSWORD};Encrypt=no'
# connectionString = f'DRIVER={{SQL Server}};SERVER={SERVER};DATABASE={DATABASE};UID={USERNAME};PWD={PASSWORD}'

In [4]:
# Use a função pyodbc.connect para conectar a um banco de dados SQL.

conn = pyodbc.connect(connectionString)

In [5]:
# Criando cursor
# O cursor permite que você execute comandos SQL no banco de dados.

cursor = conn.cursor()

## Executar consultas

Criando consulta SQL

In [6]:
Estado = 'SP'
Codigo = '000001'
Loja = '01'
Tipo = 'F'

SQL_QUERY = """

SELECT 
A1_COD,
A1_LOJA,
A1_PESSOA,
A1_NOME,
A1_NREDUZ,
A1_END,
A1_TIPO,
A1_EST,
A1_MUN,
A1_BAIRRO,
A1_CGC

FROM dbo.SA1990

WHERE A1_EST = """ + "'" + Estado + "'" + " AND A1_COD = " + "'" + Codigo + "'" + " AND A1_LOJA = " + "'" + Loja + "'" + " AND A1_TIPO = " + "'" + Tipo + "'" 

print(SQL_QUERY)

SELECT
A1_COD,
A1_LOJA,
A1_PESSOA,
A1_NOME,
A1_NREDUZ,
A1_END,
A1_TIPO,
A1_EST,
A1_MUN,
A1_BAIRRO,
A1_CGC

FROM dbo.SA1990

WHERE A1_EST = 'SP' AND A1_COD = '000001' AND A1_LOJA = '01' AND A1_TIPO = 'F'

Executando consultas no SQL E imprimindo os dados

In [7]:
# Exemplo de imprimir dados de uma tabela com fetchall()

#Para imprimir os nomes das colunas, use o atributo description.

cursor.execute(SQL_QUERY)
columns = [column[0] for column in cursor.description]
print(columns)

rows = cursor.fetchall()

for row in rows:
    print(row)

['A1_COD', 'A1_LOJA', 'A1_PESSOA', 'A1_NOME', 'A1_NREDUZ', 'A1_END', 'A1_TIPO', 'A1_EST', 'A1_MUN', 'A1_BAIRRO', 'A1_CGC']
('000001', '01', ' ', 'CLIENTE PADRAO                          ', 'CLIENTE PADRAO      ', 'ENDERECO, 123', 'F', 'SP', 'Sao Paulo                                                   ', '                                        ', '              ')

## Fechando a conexão
É uma boa prática fechar a conexão quando terminar de usá-la.

In [ ]:
conn.close()